@keyframes rain {
    0% {
        color: #800000;
    }
    20% {
        color: #7f8000;
    }
    40% {
        color: #007f80;
    }
    60% {
        color: #000080;
    }
    80% {
        color: #80007f;
    }
    100% {
        color: #800000;
    }
}

body {
    animation: rain 7s linear forwards normal infinite;
}

#demo {
    font-weight: bold;
}

a {
    text-decoration: none;
    transition: 0.15s;
    color: #0000ee;
    /* this is the default link color, but adding this will prevent visited links going purple, which I find is ugly */
}

#ad {
    position: fixed;
    top: -128px;
    left: -128px;
    opacity: 0.001;
    z-index: -999;
}

iframe:not([noanimationresize]) {
    border: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: 0.25s;
}

/* ::-webkit-scrollbar */