@keyframes rain {
    0%{
        color: #800000;
    }
    20%{
        color: #7f8000;
    }
    40% {
        color: #007f80;
    }
    60% {
        color: #000080;
    }
    80% {
        color: #80007f;
    }
    100% {
        color: #800000;
    }
}

body {
    animation: rain 7s linear forwards normal infinite;
}

#demo {
    font-weight: bold;
}

#calculator {
    color: #000;
    font-family: 'Courier New', Courier, monospace;
}

#calculator input {
    width: 5em;
}

a {
    text-decoration: none;
    transition: 0.15s;
    color: #0000ee; /* this is the default link color, but adding this will prevent visited links going purple, which I find is ugly */
}

#ad {
    position: fixed;
    top: -128px;
    left: -128px;
    opacity: 0.001;
    z-index: -999;
}

/* ::-webkit-scrollbar */